<!DOCTYPE html>
<html>
    <head>
    <title>Automatic Number Plate Recognition</title>
    <meta lang="en">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
    <body>
        <div class="container">
            <div class="heading">
                <h1>Automatic Number Plate Recognition</h1>
            </div>
            <div class="home-page">
                <a href="NPR" class="sub-div-home">Number Plate Detection</a>

                <a href="object" class="sub-div-home">Object Detection</a>
            </div>
        </div>
    </body>
</html>