<!DOCTYPE html>
<html>
<head>
    <title>Automatic Number Plate Recognition</title>
    <meta lang="en">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container" style="background-image: url('static/css/backgrounds/npr-background.jpeg');"> 
        <div class="heading">
            <h1>Number Plate Detection</h1>
        </div>
        <div class="home-page">
            <a href="NPRImage" class="sub-div-home">Number Plate Detection By Image</a>
            
            <a href="NPRVideo" class="sub-div-home">Live Number Plate Detection</a>
        </div>
    </div>
</body>
</html>