<!DOCTYPE html>
<html>
<head>
    <title>Object Detection</title>
    <meta lang="en">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container" style="background-image: url('static/css/backgrounds/npr-background.jpeg');">
        <div class="heading">
            <h1>Object Detection</h1>
        </div>
        <div class="home-page">
            <a href="ObjImage" class="sub-div-home">Object Detection By Image</a>
                
            <a href="ObjVideo" class="sub-div-home">Live Object Detection</a>
        </div>
    </div>
</body>
</html>